{:name        :clojure-xml-xxe
 :description "Detect usage of vulnerable XML parser on clojure.xml."
 :checks      [{:type          :import-and-usage
                :ns-name       "clojure.xml"
                :function-name "parse"}]}