{:sarif-definition {:id               :read-string
                    :name             "Read-string"
                    :shortDescription {:text "Detect usage of vulnerable read-string function."}
                    :fullDescription  {:text "Detect usage of vulnerable read-string function."}
                    :help             {:text "Detect usage of vulnerable read-string function."}
                    :properties       {:precision :medium}}
 :check           {:type          :usage
                   :ns-name       "clojure.core"
                   :function-name "read-string"
                   :fn-regex      "($ $lookup-function $)"}}